.navigation {
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  display: flex;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.main {
  padding-top: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  color: var(--logo-color);
  flex-grow: 1;
  font-weight: bolder;
}

.logo > a {
  text-decoration: none !important;
}

.nav_item {
  color: var(--main-color) !important;
  text-decoration: none !important;
  margin-left: 1rem;
}

@media (max-width: 700px) {
}

@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
}
