.view_button,
.qr_button {
  background-color: white !important;
  position: fixed !important;
  top: 160px;
  right: 10px;
}

.qr_button {
  top: 210px;
}

.view_button_desktop,
.qr_button_desktop {
  width: 150px;
}

.view_button_mobile,
.qr_button_mobile {
  display: none !important;
}

@media (max-width: 700px) {
  .view_button_desktop,
  .qr_button_desktop {
    display: none !important;
  }
  .view_button_mobile,
  .qr_button_mobile {
    display: inline-flex !important;
  }
}
