.navigation {
  background-color: white;
  border-bottom: 1px solid rgba(211, 211, 211, 0.5);
  display: flex;
  padding: 5px 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.main {
  padding-right: 10px;
  padding-left: 10px;
  min-height: 100vh;
}

.logo {
  color: var(--logo-color);
  flex-grow: 1;
  font-weight: bolder;
}

.logo > a {
  text-decoration: none !important;
}

.nav_item {
  color: var(--main-color) !important;
  text-decoration: none !important;
  margin-left: 1rem;
}

.mobile_menu {
  display: none;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  border-top: 1px solid rgba(211, 211, 211, 0.5);
  color: var(--main-color);
  text-align: center;
}

@media (max-width: 700px) {
  .desktop_menu {
    display: none;
  }
  .mobile_menu {
    display: block;
  }
  .drawer_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    gap: 20px;
  }
}
