.template_button {
  background-color: white !important;
  position: fixed !important;
  top: 60px;
  right: 10px;
}

.template_button_desktop {
  width: 150px;
}

.template_button_mobile {
  display: none !important;
}

.label {
  color: var(--main-color);
  margin-top: 5px;
}

.form_body {
  max-height: 75vh;
}

@media (max-width: 700px) {
  .template_button_desktop {
    display: none !important;
  }
  .template_button_mobile {
    display: inline-flex !important;
  }
  .form_body {
    max-height: 70vh;
  }
}
