.create_menu {
  color: var(--main-color);
}

.explanatory {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

.tablist {
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.category_title {
  color: var(--logo-color-light);
}

.mobile_categories {
  display: none;
  color: var(--main-color);
}

@media (max-width: 700px) {
  .tablist {
    display: none !important;
  }
  .mobile_categories {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}
