.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.banner_header {
  color: var(--main-color);
}

.coloured {
  color: var(--logo-color);
}

.banner_text {
  color: var(--secondary-color);
  margin-top: 2rem;
  text-align: justify;
}

.banner_button {
  margin-top: 2rem;
}

.grid_item {
  display: flex;
}

.grid_item_column {
  flex-direction: column;
}

.text_justify {
  text-align: justify;
}

.grid {
  padding: 10px 0;
}

@media (max-width: 700px) {
  .grid_item {
    display: flex;
    justify-content: center;
  }
  .grid_item_column {
    align-items: center;
  }
  .banner_text {
    width: 70vw;
  }
}
