.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}

.banner_header {
  color: var(--main-color);
}

.banner_header_coloured {
  color: var(--logo-color);
}

.banner_text {
  color: var(--secondary-color);
  width: 40vw;
  margin-top: 2rem;
  text-align: center;
}

.banner_button {
  margin-top: 2rem;
}
